In [1]:
#데이터 프레임: 레이블이 붙은 행과 열로 구성된 테이블
#미국 각 주별로 주류 소비.csv 파일
import numpy
import pandas as pd
alco2009 = pd.read_csv("niaaa-report2009.csv", index_col="State")
alco2009

#상위 5개 출력
alco2009.head()

#Wine, Beer 이란 이름으로 해당 데이터프레임에 속성으로 생성.
alco2009["Wine"].head()

alco2009.Beer.tail()


# 브로드캐스팅. 해당 열을 만들고 모든 행의 값 할당.
alco2009["Total"]=0
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58      0
Alaska                1.31  0.54     1.16      0
Arizona               1.19  0.38     0.74      0
Arkansas              1.07  0.17     0.60      0
California            1.05  0.55     0.73      0
Colorado              1.22  0.46     1.00      0
Connecticut           0.89  0.59     0.86      0
Delaware              1.31  0.57     1.25      0
District of Columbia  1.26  1.00     1.64      0
Florida               1.21  0.48     0.92      0
Georgia               1.08  0.25     0.64      0
Hawaii                1.30  0.53     0.75      0
Idaho                 1.05  0.92     0.70      0
Illinois              1.22  0.39     0.73      0
Indiana               1.09  0.25     0.73      0
Iowa                  1.42  0.18     0.72      0
Kansas                1.18  0.14     0.67      0
Kentucky              1.11  0.18     0.65      0
Louisiana             1.50  0.28     0.85      0
Maine                 1.24  0.42     0.83      0
Maryland              0.97  0.37     0.87      0
Massachusetts         1.02  0.61     0.84      0
Michigan              1.10  0.31     0.80      0
Minnesota             1.19  0.37     1.04      0
Mississippi           1.41  0.11     0.71      0
Missouri              1.30  0.30     0.83      0
Montana               1.66  0.45     0.88      0
Nebraska              1.46  0.20     0.68      0
Nevada                1.57  0.58     1.15      0
New Hampshire         1.72  0.84     1.82      0
New Jersey            0.92  0.57     0.87      0
New Mexico            1.37  0.32     0.74      0
New York              0.91  0.46     0.69      0
North Carolina        1.10  0.34     0.58      0
North Dakota          1.63  0.25     1.16      0
Ohio                  1.28  0.26     0.47      0
Oklahoma              1.18  0.18     0.58      0
Oregon                1.28  0.49     0.82      0
Pennsylvania          1.35  0.23     0.61      0
Rhode Island          1.10  0.53     0.92      0
South Carolina        1.36  0.24     0.77      0
South Dakota          1.53  0.22     0.88      0
Tennessee             1.05  0.21     0.57      0
Texas                 1.42  0.28     0.58      0
Utah                  0.70  0.17     0.46      0
Vermont               1.36  0.63     0.70      0
Virginia              1.11  0.43     0.59      0
Washington            1.09  0.51     0.74      0
West Virginia         1.24  0.10     0.45      0
Wisconsin             1.49  0.31     1.16      0
Wyoming               1.45  0.22     1.10      0

In [2]:
#csv 파일에 총합 열 만들어보기.

hap=alco2009["Beer"] + alco2009["Wine"] + alco2009["Spirits"]
alco2009["Total"]=hap
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58   2.00
Alaska                1.31  0.54     1.16   3.01
Arizona               1.19  0.38     0.74   2.31
Arkansas              1.07  0.17     0.60   1.84
California            1.05  0.55     0.73   2.33
Colorado              1.22  0.46     1.00   2.68
Connecticut           0.89  0.59     0.86   2.34
Delaware              1.31  0.57     1.25   3.13
District of Columbia  1.26  1.00     1.64   3.90
Florida               1.21  0.48     0.92   2.61
Georgia               1.08  0.25     0.64   1.97
Hawaii                1.30  0.53     0.75   2.58
Idaho                 1.05  0.92     0.70   2.67
Illinois              1.22  0.39     0.73   2.34
Indiana               1.09  0.25     0.73   2.07
Iowa                  1.42  0.18     0.72   2.32
Kansas                1.18  0.14     0.67   1.99
Kentucky              1.11  0.18     0.65   1.94
Louisiana             1.50  0.28     0.85   2.63
Maine                 1.24  0.42     0.83   2.49
Maryland              0.97  0.37     0.87   2.21
Massachusetts         1.02  0.61     0.84   2.47
Michigan              1.10  0.31     0.80   2.21
Minnesota             1.19  0.37     1.04   2.60
Mississippi           1.41  0.11     0.71   2.23
Missouri              1.30  0.30     0.83   2.43
Montana               1.66  0.45     0.88   2.99
Nebraska              1.46  0.20     0.68   2.34
Nevada                1.57  0.58     1.15   3.30
New Hampshire         1.72  0.84     1.82   4.38
New Jersey            0.92  0.57     0.87   2.36
New Mexico            1.37  0.32     0.74   2.43
New York              0.91  0.46     0.69   2.06
North Carolina        1.10  0.34     0.58   2.02
North Dakota          1.63  0.25     1.16   3.04
Ohio                  1.28  0.26     0.47   2.01
Oklahoma              1.18  0.18     0.58   1.94
Oregon                1.28  0.49     0.82   2.59
Pennsylvania          1.35  0.23     0.61   2.19
Rhode Island          1.10  0.53     0.92   2.55
South Carolina        1.36  0.24     0.77   2.37
South Dakota          1.53  0.22     0.88   2.63
Tennessee             1.05  0.21     0.57   1.83
Texas                 1.42  0.28     0.58   2.28
Utah                  0.70  0.17     0.46   1.33
Vermont               1.36  0.63     0.70   2.69
Virginia              1.11  0.43     0.59   2.13
Washington            1.09  0.51     0.74   2.34
West Virginia         1.24  0.10     0.45   1.79
Wisconsin             1.49  0.31     1.16   2.96
Wyoming               1.45  0.22     1.10   2.77

In [3]:
alco2009.columns.values

#비어 '열' 컬럼으로 인덱스를 지정
alco2009.reset_index().set_index("Beer").head()
#원하는 '행' 다가져오기. 모든 열
alco2009.loc["Alabama"]

"Utah" in alco2009.index

True

In [4]:
alco20091=pd.read_csv("niaaa-report2009.csv" , index_col="State")
#열이 존재하는지 ?
"Samoa" in alco20091.index

False

In [5]:
#임의의 열을 추가해보자
s_states= [state for state in alco20091.index if state[0] == 'S']+["Samoa"]
drinks= list(alco20091.columns) + ["Water"]
nan_alco= alco20091.reindex(s_states, columns=drinks)
nan_alco

                Beer  Wine  Spirits  Water
State
South Carolina  1.36  0.24     0.77    NaN
South Dakota    1.53  0.22     0.88    NaN
Samoa            NaN   NaN      NaN    NaN

In [6]:
#여러 인덱스를 가진 멀티인덱스들을 처리해보기 (예 도시별 -> 연별 자료)
allalco =pd.read_csv("niaaa-report.csv",index_col=["State","Year"])
allalco

allalco.loc["Alabama"].head()

      Beer  Wine  Spirits
Year
1977  0.99  0.13     0.84
1978  0.98  0.12     0.88
1979  0.98  0.12     0.84
1980  0.96  0.16     0.74
1981  1.00  0.19     0.73

In [7]:
#연별로 묶어서 열을 행으로 표현해보자
tall_alco=allalco.stack()
tall_alco.index.names=[ "State","Year","Drink"]
tall_alco.head(10)

State    Year  Drink
Alabama  1977  Beer       0.99
               Wine       0.13
               Spirits    0.84
         1978  Beer       0.98
               Wine       0.12
               Spirits    0.88
         1979  Beer       0.98
               Wine       0.12
               Spirits    0.84
         1980  Beer       0.96
dtype: float64

In [8]:
#정사각형 모양에 가깝게 만들어보기
wide_alco=allalco.unstack()
wide_alco.head()

            Beer                                                        ...  \
Year        1977  1978  1979  1980  1981  1982  1983  1984  1985  1986  ...
State                                                                   ...
Alabama     0.99  0.98  0.98  0.96  1.00  1.00  1.01  1.02  1.06  1.09  ...
Alaska      1.19  1.39  1.50  1.55  1.71  1.75  1.76  1.73  1.68  1.68  ...
Arizona     1.70  1.77  1.86  1.69  1.78  1.74  1.62  1.57  1.67  1.77  ...
Arkansas    0.92  0.97  0.93  1.00  1.06  1.03  1.03  1.02  1.03  1.06  ...
California  1.31  1.36  1.42  1.42  1.43  1.37  1.37  1.38  1.32  1.36  ...

           Spirits
Year          2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
State
Alabama       0.51  0.53  0.53  0.52  0.52  0.53  0.55  0.56  0.58  0.58
Alaska        0.92  0.97  1.08  0.79  0.96  0.99  1.02  1.07  1.09  1.16
Arizona       0.71  0.70  0.69  0.71  0.70  0.74  0.78  0.76  0.75  0.74
Arkansas      0.53  0.53  0.53  0.56  0.58  0.58  0.59  0.60  0.60  0.60
California    0.64  0.64  0.63  0.65  0.67  0.68  0.70  0.72  0.72  0.73

[5 rows x 99 columns]

In [9]:
#피보팅. 자주 쓰이는 일반화된 연산.
#pivot(index,columns,values) 인덱스를 year로 잡고 주별, 와인정보만 출ㄺ
alco = pd.read_csv("niaaa-report.csv")
alco.pivot("Year","State","Wine")

State,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1977,0.13,0.42,0.34,0.10,0.67,0.36,0.35,0.24,0.89,0.33,...,0.17,0.10,0.14,0.14,0.44,0.21,0.45,0.09,0.27,0.21
1978,0.12,0.45,0.37,0.11,0.68,0.47,0.38,0.25,0.94,0.34,...,0.17,0.11,0.14,0.15,0.47,0.21,0.48,0.09,0.28,0.22
1979,0.12,0.47,0.39,0.10,0.70,0.47,0.40,0.27,0.99,0.37,...,0.17,0.11,0.14,0.16,0.47,0.25,0.48,0.09,0.28,0.22
1980,0.16,0.50,0.36,0.12,0.71,0.47,0.43,0.29,0.99,0.37,...,0.18,0.12,0.22,0.14,0.48,0.25,0.52,0.09,0.31,0.24
1981,0.19,0.57,0.42,0.12,0.72,0.44,0.44,0.32,1.06,0.39,...,0.19,0.13,0.24,0.15,0.50,0.27,0.54,0.14,0.31,0.24
1982,0.18,0.56,0.40,0.12,0.72,0.46,0.49,0.34,1.00,0.40,...,0.18,0.14,0.18,0.15,0.50,0.27,0.53,0.14,0.30,0.24
1983,0.17,0.61,0.44,0.13,0.75,0.46,0.49,0.35,1.08,0.40,...,0.17,0.14,0.27,0.14,0.50,0.27,0.54,0.13,0.33,0.22
1984,0.19,0.58,0.45,0.12,0.74,0.46,0.50,0.38,1.11,0.40,...,0.17,0.15,0.28,0.14,0.49,0.29,0.57,0.12,0.30,0.22
1985,0.17,0.58,0.46,0.13,0.78,0.50,0.50,0.41,1.03,0.41,...,0.18,0.16,0.30,0.15,0.55,0.30,0.59,0.13,0.32,0.25
1986,0.18,0.56,0.46,0.09,0.79,0.46,0.51,0.44,1.04,0.41,...,0.19,0.16,0.31,0.17,0.59,0.27,0.61,0.13,0.34,0.26
1987,0.18,0.54,0.46,0.11,0.74,0.44,0.52,0.42,1.00,0.42,...,0.19,0.15,0.29,0.15,0.58,0.26,0.56,0.13,0.36,0.24
1988,0.18,0.49,0.42,0.14,0.68,0.39,0.51,0.40,0.99,0.41,...,0.16,0.14,0.28,0.14,0.56,0.25,0.50,0.12,0.33,0.23
1989,0.17,0.46,0.36,0.13,0.61,0.37,0.47,0.38,0.88,0.39,...,0.15,0.14,0.26,0.13,0.51,0.31,0.47,0.11,0.31,0.22
1990,0.18,0.46,0.37,0.13,0.59,0.29,0.45,0.37,0.76,0.39,...,0.18,0.14,0.26,0.12,0.48,0.30,0.46,0.10,0.31,0.22
1991,0.17,0.43,0.35,0.11,0.49,0.35,0.43,0.35,0.61,0.34,...,0.15,0.13,0.25,0.12,0.46,0.28,0.43,0.09,0.27,0.20
1992,0.19,0.41,0.31,0.12,0.51,0.36,0.45,0.36,0.70,0.34,...,0.15,0.14,0.24,0.12,0.44,0.28,0.46,0.09,0.25,0.20
1993,0.17,0.32,0.27,0.11,0.48,0.36,0.44,0.35,0.73,0.33,...,0.12,0.14,0.20,0.11,0.44,0.27,0.39,0.08,0.22,0.19
1994,0.17,0.40,0.29,0.13,0.47,0.35,0.43,0.38,0.74,0.33,...,0.12,0.15,0.20,0.09,0.42,0.27,0.39,0.08,0.22,0.18
1995,0.15,0.39,0.29,0.12,0.45,0.35,0.49,0.40,0.72,0.35,...,0.12,0.15,0.19,0.09,0.41,0.29,0.40,0.09,0.23,0.16
1996,0.15,0.38,0.33,0.12,0.49,0.37,0.46,0.45,0.74,0.37,...,0.13,0.15,0.22,0.10,0.46,0.30,0.40,0.10,0.24,0.16
1997,0.15,0.36,0.31,0.12,0.50,0.37,0.48,0.46,0.74,0.37,...,0.13,0.16,0.20,0.10,0.46,0.29,0.42,0.10,0.25,0.17
1998,0.17,0.39,0.32,0.11,0.45,0.37,0.48,0.47,0.73,0.38,...,0.13,0.15,0.23,0.10,0.47,0.29,0.43,0.10,0.26,0.20
1999,0.17,0.40,0.34,0.12,0.46,0.37,0.49,0.48,0.73,0.40,...,0.14,0.15,0.20,0.10,0.47,0.32,0.40,0.10,0.26,0.18
2000,0.18,0.37,0.31,0.12,0.48,0.37,0.49,0.48,0.70,0.40,...,0.15,0.15,0.22,0.11,0.47,0.31,0.41,0.10,0.27,0.18
2001,0.17,0.40,0.33,0.13,0.48,0.41,0.50,0.49,0.82,0.40,...,0.15,0.16,0.21,0.14,0.47,0.32,0.40,0.10,0.26,0.22
2002,0.21,0.43,0.33,0.14,0.49,0.39,0.50,0.52,0.84,0.43,...,0.16,0.17,0.22,0.14,0.49,0.34,0.42,0.10,0.28,0.22
2003,0.19,0.37,0.37,0.14,0.50,0.40,0.52,0.56,0.90,0.44,...,0.16,0.18,0.23,0.15,0.51,0.36,0.46,0.10,0.29,0.23
2004,0.20,0.45,0.33,0.15,0.51,0.43,0.53,0.57,0.94,0.46,...,0.18,0.18,0.24,0.15,0.54,0.37,0.46,0.10,0.30,0.22
2005,0.20,0.43,0.39,0.16,0.53,0.41,0.54,0.59,0.92,0.47,...,0.19,0.19,0.25,0.16,0.56,0.38,0.55,0.10,0.31,0.23
2006,0.21,0.46,0.37,0.17,0.54,0.45,0.55,0.60,0.95,0.48,...,0.19,0.19,0.26,0.16,0.58,0.39,0.48,0.10,0.32,0.23
2007,0.22,0.44,0.33,0.17,0.55,0.47,0.58,0.59,0.99,0.49,...,0.22,0.20,0.27,0.16,0.61,0.41,0.50,0.10,0.33,0.23
2008,0.22,0.49,0.40,0.17,0.55,0.46,0.59,0.58,1.00,0.49,...,0.22,0.20,0.27,0.17,0.62,0.42,0.50,0.10,0.34,0.23
2009,0.22,0.54,0.38,0.17,0.55,0.46,0.59,0.57,1.00,0.48,...,0.22,0.21,0.28,0.17,0.63,0.43,0.51,0.10,0.31,0.22

In [10]:
#결측치 제거해보기.
#평범한 결측치 제거 함수
nan_alco.dropna(how="all")

                Beer  Wine  Spirits  Water
State
South Carolina  1.36  0.24     0.77    NaN
South Dakota    1.53  0.22     0.88    NaN

In [11]:
nan_alco.isnull()

nan_alco.notnull()

#결측치에 0으로 채워넣기
nan_alco.fillna(0)

                Beer  Wine  Spirits  Water
State
South Carolina  1.36  0.24     0.77    0.0
South Dakota    1.53  0.22     0.88    0.0
Samoa           0.00  0.00     0.00    0.0

In [12]:
#데이터 합치기, 인구정보와 음주율을 합친 데이터
popul= pd.read_csv("population.csv", index_col="State")
popul.head()

df=pd.merge(alco2009.reset_index(), popul.reset_index()).set_index("State")
df.head()

            Beer  Wine  Spirits  Total  Population
State
Alabama     1.20  0.22     0.58   2.00   4,780,131
Alaska      1.31  0.54     1.16   3.01     710,249
Arizona     1.19  0.38     0.74   2.31   6,392,301
Arkansas    1.07  0.17     0.60   1.84   2,916,025
California  1.05  0.55     0.73   2.33  37,254,522

In [13]:
#인덱스를 키로 지정했다면 join도 가능
popul.join(alco2009).tail(10)

               Population  Beer  Wine  Spirits  Total
State
South Dakota      814,195  1.53  0.22     0.88   2.63
Tennessee       6,346,298  1.05  0.21     0.57   1.83
Texas          25,146,100  1.42  0.28     0.58   2.28
Utah            2,763,888  0.70  0.17     0.46   1.33
Vermont           625,741  1.36  0.63     0.70   2.69
Virginia        8,001,041  1.11  0.43     0.59   2.13
Washington      6,724,545  1.09  0.51     0.74   2.34
West Virginia   1,853,011  1.24  0.10     0.45   1.79
Wisconsin       5,687,289  1.49  0.31     1.16   2.96
Wyoming           563,767  1.45  0.22     1.10   2.77

In [14]:
#데이터를 합쳐서 수직측으로 나열(주 인덱스는 그대로 사용하나, 수직으로 이어져 popul.csv에 있는 주에 관한 알코 열들 데이터가 합쳐지지 않음.
pd.concat([alco2009,popul],axis=0)

#데이터를 수평측으로 나열해, 주를 인덱스로 잡고 열을 합쳐서 주별 알콜, 인구정보를 알수 있게함.
pd.concat([alco2009,popul],axis=1)

                      Beer  Wine  Spirits  Total  Population
State
Alabama               1.20  0.22     0.58   2.00   4,780,131
Alaska                1.31  0.54     1.16   3.01     710,249
Arizona               1.19  0.38     0.74   2.31   6,392,301
Arkansas              1.07  0.17     0.60   1.84   2,916,025
California            1.05  0.55     0.73   2.33  37,254,522
Colorado              1.22  0.46     1.00   2.68   5,029,324
Connecticut           0.89  0.59     0.86   2.34   3,574,114
Delaware              1.31  0.57     1.25   3.13     897,936
District of Columbia  1.26  1.00     1.64   3.90     601,766
Florida               1.21  0.48     0.92   2.61  18,804,592
Georgia               1.08  0.25     0.64   1.97   9,688,680
Hawaii                1.30  0.53     0.75   2.58   1,360,301
Idaho                 1.05  0.92     0.70   2.67   1,567,650
Illinois              1.22  0.39     0.73   2.34  12,831,574
Indiana               1.09  0.25     0.73   2.07   6,484,136
Iowa                  1.42  0.18     0.72   2.32   3,046,869
Kansas                1.18  0.14     0.67   1.99   2,853,129
Kentucky              1.11  0.18     0.65   1.94   4,339,344
Louisiana             1.50  0.28     0.85   2.63   4,533,479
Maine                 1.24  0.42     0.83   2.49   1,328,364
Maryland              0.97  0.37     0.87   2.21   5,773,786
Massachusetts         1.02  0.61     0.84   2.47   6,547,813
Michigan              1.10  0.31     0.80   2.21   9,884,129
Minnesota             1.19  0.37     1.04   2.60   5,303,924
Mississippi           1.41  0.11     0.71   2.23   2,968,103
Missouri              1.30  0.30     0.83   2.43   5,988,928
Montana               1.66  0.45     0.88   2.99     989,414
Nebraska              1.46  0.20     0.68   2.34   1,826,334
Nevada                1.57  0.58     1.15   3.30   2,700,691
New Hampshire         1.72  0.84     1.82   4.38   1,316,461
New Jersey            0.92  0.57     0.87   2.36   8,791,953
New Mexico            1.37  0.32     0.74   2.43   2,059,198
New York              0.91  0.46     0.69   2.06  19,378,110
North Carolina        1.10  0.34     0.58   2.02   9,535,688
North Dakota          1.63  0.25     1.16   3.04     672,591
Ohio                  1.28  0.26     0.47   2.01  11,536,727
Oklahoma              1.18  0.18     0.58   1.94   3,751,615
Oregon                1.28  0.49     0.82   2.59   3,831,072
Pennsylvania          1.35  0.23     0.61   2.19  12,702,857
Rhode Island          1.10  0.53     0.92   2.55   1,052,940
South Carolina        1.36  0.24     0.77   2.37   4,625,410
South Dakota          1.53  0.22     0.88   2.63     814,195
Tennessee             1.05  0.21     0.57   1.83   6,346,298
Texas                 1.42  0.28     0.58   2.28  25,146,100
Utah                  0.70  0.17     0.46   1.33   2,763,888
Vermont               1.36  0.63     0.70   2.69     625,741
Virginia              1.11  0.43     0.59   2.13   8,001,041
Washington            1.09  0.51     0.74   2.34   6,724,545
West Virginia         1.24  0.10     0.45   1.79   1,853,011
Wisconsin             1.49  0.31     1.16   2.96   5,687,289
Wyoming               1.45  0.22     1.10   2.77     563,767

In [15]:
#캐나다 주별 인구정보
pop_ca= pd.read_csv("demo02a-eng.csv", index_col="State")
pop_ca

#사용자 정의 인덱스로 미국 인구정보와 캐나다 주별 인구정보 합치기!
pop_na=pd.concat([popul, pop_ca], keys=["US","CA"])
pop_na

pop_na.index.names = ("Country","State")
pop_na

                               Population
Country State
US      Alabama                 4,780,131
        Alaska                    710,249
        Arizona                 6,392,301
        Arkansas                2,916,025
        California             37,254,522
...                                   ...
CA      Alberta                  4,252.90
        British Columbia         4,751.60
        Yukon                        37.5
        Northwest Territories        44.5
        Nunavut                      37.1

[64 rows x 1 columns]

In [16]:
#데이터 정렬, 인덱스 기준
popul.sort_index().head()

#값 기준. 오름 차순
popul.sort_values("Population").head()

#숫자값에서 평균적인 순위를 할당
popul.rank()

                      Population
State
Alabama                     28.0
Alaska                      43.0
Arizona                     36.0
Arkansas                    17.0
California                  24.0
Colorado                    29.0
Connecticut                 21.0
Delaware                    47.0
District of Columbia        40.0
Florida                     11.0
Georgia                     49.0
Hawaii                       4.0
Idaho                        5.0
Illinois                    10.0
Indiana                     37.0
Iowa                        20.0
Kansas                      16.0
Kentucky                    25.0
Louisiana                   26.0
Maine                        3.0
Maryland                    32.0
Massachusetts               38.0
Michigan                    50.0
Minnesota                   30.0
Mississippi                 18.0
Missouri                    33.0
Montana                     51.0
Nebraska                     6.0
Nevada                      14.0
New Hampshire                2.0
New Jersey                  45.0
New Mexico                  13.0
New York                    12.0
North Carolina              48.0
North Dakota                42.0
Ohio                         8.0
Oklahoma                    22.0
Oregon                      23.0
Pennsylvania                 9.0
Rhode Island                 1.0
South Carolina              27.0
South Dakota                46.0
Tennessee                   35.0
Texas                       19.0
Utah                        15.0
Vermont                     41.0
Virginia                    44.0
Washington                  39.0
West Virginia                7.0
Wisconsin                   31.0
Wyoming                     34.0

In [17]:
#기술통계 제일 큰수, 표준편차, 제일 작은 수, 모든 수의 합 등등
alco2009.max()
alco2009.sum()
#수직으로 함수를 적용해야 계산이 가능...
alco2009.min(axis=0)

Beer       0.70
Wine       0.10
Spirits    0.45
Total      1.33
dtype: float64

In [18]:
alco = pd.read_csv("niaaa-report.csv", index_col=["State","Year"])


alco['Total']=alco.Beer + alco.Wine + alco.Spirits
alco
#나중에 사용하기위해 저장
import pickle
with open("alco.pickle","wb") as oFile:
    pickle.dump(alco, oFile)

#하와이의 누적 합을 계산.
alco.loc['Hawaii']

      Beer  Wine  Spirits  Total
Year
1977  1.61  0.36     1.26   3.23
1978  1.38  0.46     1.30   3.14
1979  1.60  0.44     1.28   3.32
1980  1.65  0.46     1.21   3.32
1981  1.74  0.44     1.16   3.34
1982  1.80  0.48     1.14   3.42
1983  1.87  0.44     1.12   3.43
1984  1.65  0.41     0.91   2.97
1985  1.59  0.41     0.88   2.88
1986  1.60  0.44     0.85   2.89
1987  1.57  0.40     0.76   2.73
1988  1.62  0.45     0.79   2.86
1989  1.54  0.43     0.79   2.76
1990  1.64  0.40     0.79   2.83
1991  1.57  0.40     0.70   2.67
1992  1.55  0.39     0.69   2.63
1993  1.49  0.37     0.65   2.51
1994  1.46  0.38     0.62   2.46
1995  1.41  0.34     0.57   2.32
1996  1.40  0.36     0.58   2.34
1997  1.37  0.37     0.56   2.30
1998  1.32  0.37     0.54   2.23
1999  1.31  0.39     0.56   2.26
2000  1.33  0.39     0.60   2.32
2001  1.30  0.38     0.60   2.28
2002  1.27  0.39     0.62   2.28
2003  1.30  0.42     0.67   2.39
2004  1.39  0.49     0.68   2.56
2005  1.32  0.46     0.74   2.52
2006  1.30  0.48     0.78   2.56
2007  1.34  0.49     0.80   2.63
2008  1.35  0.52     0.74   2.61
2009  1.30  0.53     0.75   2.58

In [19]:
#바로 위 아래의 데이터끼리 비교. 당연히 첫번째 행은 안됨.
alco.loc['Hawaii'].diff()

      Beer  Wine  Spirits         Total
Year
1977   NaN   NaN      NaN           NaN
1978 -0.23  0.10     0.04 -9.000000e-02
1979  0.22 -0.02    -0.02  1.800000e-01
1980  0.05  0.02    -0.07 -4.440892e-16
1981  0.09 -0.02    -0.05  2.000000e-02
1982  0.06  0.04    -0.02  8.000000e-02
1983  0.07 -0.04    -0.02  1.000000e-02
1984 -0.22 -0.03    -0.21 -4.600000e-01
1985 -0.06  0.00    -0.03 -9.000000e-02
1986  0.01  0.03    -0.03  1.000000e-02
1987 -0.03 -0.04    -0.09 -1.600000e-01
1988  0.05  0.05     0.03  1.300000e-01
1989 -0.08 -0.02     0.00 -1.000000e-01
1990  0.10 -0.03     0.00  7.000000e-02
1991 -0.07  0.00    -0.09 -1.600000e-01
1992 -0.02 -0.01    -0.01 -4.000000e-02
1993 -0.06 -0.02    -0.04 -1.200000e-01
1994 -0.03  0.01    -0.03 -5.000000e-02
1995 -0.05 -0.04    -0.05 -1.400000e-01
1996 -0.01  0.02     0.01  2.000000e-02
1997 -0.03  0.01    -0.02 -4.000000e-02
1998 -0.05  0.00    -0.02 -7.000000e-02
1999 -0.01  0.02     0.02  3.000000e-02
2000  0.02  0.00     0.04  6.000000e-02
2001 -0.03 -0.01     0.00 -4.000000e-02
2002 -0.03  0.01     0.02  0.000000e+00
2003  0.03  0.03     0.05  1.100000e-01
2004  0.09  0.07     0.01  1.700000e-01
2005 -0.07 -0.03     0.06 -4.000000e-02
2006 -0.02  0.02     0.04  4.000000e-02
2007  0.04  0.01     0.02  7.000000e-02
2008  0.01  0.03    -0.06 -2.000000e-02
2009 -0.05  0.01     0.01 -3.000000e-02

In [20]:
# 시리즈를 셋으로 취급하기
dna="AGTCCGCGAATACAGGCTCGGT"
dna_as_seris=pd.Series(list(dna), name="gennes")
dna_as_seris.head()

#등장하는 문자열 종류를 반환
dna_as_seris.unique()

#빈도수 계산
dna_as_seris.value_counts().sort_index()

A    5
C    6
G    7
T    4
Name: gennes, dtype: int64

In [21]:
#위의 dna가 가진 뉴클레오티드는 ACGT 뿐임. 이게 맞는가? 확인
valid_nucs=list("ACGT")
dna_as_seris.isin(valid_nucs).all()

True

In [32]:
import numpy
#총합 열 만들기.
alco["Total"]= alco.Wine + alco.Spirits + alco.Beer
alco["Total"]

State    Year
Alabama  1977    1.96
         1978    1.98
         1979    1.94
         1980    1.86
         1981    1.92
                 ...
Wyoming  2005    2.41
         2006    2.75
         2007    2.82
         2008    2.89
         2009    2.77
Name: Total, Length: 1683, dtype: float64

In [31]:
#지수(logarithmic) 스케일 계산해보기.
numpy.log10(alco.Total)

State    Year
Alabama  1977    0.292256
         1978    0.296665
         1979    0.287802
         1980    0.269513
         1981    0.283301
                   ...
Wyoming  2005    0.382017
         2006    0.439333
         2007    0.450249
         2008    0.460898
         2009    0.442480
Name: Total, Length: 1683, dtype: float64

In [36]:
#사칙연산자 사용. 헌데, 더할때 인덱스가 같은 아이템이 없으면 nan 반환.
dna="AGTCCGCGAATACAGGCTCGGT"
dna1=dna.replace("C","")
dna2=dna.replace("T","")
dna_as_series1= pd.Series(list(dna1), name="genes")
dna_as_series2= pd.Series(list(dna2), name="genes")
dna_as_series_hap= dna_as_series1.value_counts() + dna_as_series2.value_counts()

dna_as_series_hap

A    10.0
C     NaN
G    14.0
T     NaN
Name: genes, dtype: float64

In [41]:
'''데이터 집계. 1. key를 사용해 데이터를 여러 덩어리로 분리
2. 각 덩어리에 집계함수(sum,count)를 적용
3. 산출한 결과를 시리즈나 데이터 프레임에 담기'''
alco_noindexpa = alco.reset_index()
alco_noindexpa

        State  Year  Beer  Wine  Spirits  Total
0     Alabama  1977  0.99  0.13     0.84   1.96
1     Alabama  1978  0.98  0.12     0.88   1.98
2     Alabama  1979  0.98  0.12     0.84   1.94
3     Alabama  1980  0.96  0.16     0.74   1.86
4     Alabama  1981  1.00  0.19     0.73   1.92
...       ...   ...   ...   ...      ...    ...
1678  Wyoming  2005  1.21  0.23     0.97   2.41
1679  Wyoming  2006  1.47  0.23     1.05   2.75
1680  Wyoming  2007  1.49  0.23     1.10   2.82
1681  Wyoming  2008  1.54  0.23     1.12   2.89
1682  Wyoming  2009  1.45  0.22     1.10   2.77

[1683 rows x 6 columns]

In [45]:
#Year 열로 모든 속성의 값을 더해 표현. 인덱스는 Year가 되는 것.
sum_alco = alco_noindexpa.groupby("Year").sum()
sum_alco

       Beer   Wine  Spirits   Total
Year
1977  67.92  14.14    59.52  141.58
1978  69.51  15.12    60.08  144.71
1979  71.39  15.72    58.73  145.84
1980  71.73  16.38    57.54  145.65
1981  72.50  16.90    56.33  145.73
1982  71.95  17.17    53.80  142.92
1983  71.73  17.21    52.74  141.68
1984  69.95  17.56    50.90  138.41
1985  69.13  18.09    49.28  136.50
1986  69.63  18.60    45.46  133.69
1987  69.05  18.07    44.71  131.83
1988  68.82  17.32    43.06  129.20
1989  68.04  16.08    41.82  125.94
1990  69.65  15.66    42.33  127.64
1991  67.74  14.45    39.35  121.54
1992  67.19  14.52    39.05  120.76
1993  66.23  13.77    37.59  117.59
1994  65.87  13.73    36.51  116.11
1995  64.62  14.01    35.39  114.02
1996  64.61  14.62    35.15  114.38
1997  64.01  14.74    34.83  113.58
1998  64.38  15.17    34.44  113.99
1999  65.06  15.57    35.10  115.73
2000  64.92  15.52    35.77  116.21
2001  65.05  15.85    35.50  116.40
2002  65.41  16.51    36.15  118.07
2003  64.71  17.09    37.10  118.90
2004  64.40  17.68    37.75  119.83
2005  63.49  18.06    38.89  120.44
2006  64.37  18.66    40.15  123.18
2007  64.67  19.08    40.97  124.72
2008  64.67  19.41    41.59  125.67
2009  63.22  19.59    41.81  124.62

In [50]:
#year 을 인덱스로 할때 각 행의 그룹을 세세히 표시하는 방법. for 문으로 전부 나열. 
for year, year_frame in alco_noindexpa.groupby("Year"):
    print(year_frame)

                     State  Year  Beer  Wine  Spirits  Total
0                  Alabama  1977  0.99  0.13     0.84   1.96
33                  Alaska  1977  1.19  0.42     1.70   3.31
66                 Arizona  1977  1.70  0.34     1.05   3.09
99                Arkansas  1977  0.92  0.10     0.63   1.65
132             California  1977  1.31  0.67     1.28   3.26
165               Colorado  1977  1.43  0.36     1.22   3.01
198            Connecticut  1977  1.05  0.35     1.21   2.61
231               Delaware  1977  1.32  0.24     1.35   2.91
264   District of Columbia  1977  1.39  0.89     3.26   5.54
297                Florida  1977  1.33  0.33     1.47   3.13
330                Georgia  1977  1.08  0.16     1.23   2.47
363                 Hawaii  1977  1.61  0.36     1.26   3.23
396                  Idaho  1977  1.50  0.22     0.79   2.51
429               Illinois  1977  1.35  0.30     1.22   2.87
462                Indiana  1977  1.14  0.14     0.77   2.05
495                   Iowa  1977  1.33  0.10     0.74   2.17
528                 Kansas  1977  1.13  0.10     0.65   1.88
561               Kentucky  1977  1.19  0.09     0.75   2.03
594              Louisiana  1977  1.30  0.25     1.03   2.58
627                  Maine  1977  1.37  0.23     1.04   2.64
660               Maryland  1977  1.37  0.30     1.39   3.06
693          Massachusetts  1977  1.34  0.37     1.24   2.95
726               Michigan  1977  1.45  0.24     1.02   2.71
759              Minnesota  1977  1.30  0.20     1.15   2.65
792            Mississippi  1977  1.08  0.11     0.86   2.05
825               Missouri  1977  1.23  0.19     0.83   2.25
858                Montana  1977  1.83  0.20     1.10   3.13
891               Nebraska  1977  1.45  0.17     0.91   2.53
924                 Nevada  1977  2.15  0.83     3.85   6.83
957          New Hampshire  1977  1.89  0.50     2.93   5.32
990             New Jersey  1977  1.16  0.40     1.13   2.69
1023            New Mexico  1977  1.65  0.32     0.96   2.93
1056              New York  1977  1.18  0.38     1.17   2.73
1089        North Carolina  1977  1.01  0.20     0.84   2.05
1122          North Dakota  1977  1.35  0.15     1.12   2.62
1155                  Ohio  1977  1.17  0.18     0.70   2.05
1188              Oklahoma  1977  1.07  0.14     0.78   1.99
1221                Oregon  1977  1.33  0.46     0.96   2.75
1254          Pennsylvania  1977  1.35  0.20     0.74   2.29
1287          Rhode Island  1977  1.39  0.43     1.12   2.94
1320        South Carolina  1977  1.17  0.17     1.14   2.48
1353          South Dakota  1977  1.15  0.17     1.06   2.38
1386             Tennessee  1977  1.10  0.10     0.71   1.91
1419                 Texas  1977  1.63  0.14     0.81   2.58
1452                  Utah  1977  0.97  0.14     0.59   1.70
1485               Vermont  1977  1.42  0.44     1.58   3.44
1518              Virginia  1977  1.19  0.21     0.90   2.30
1551            Washington  1977  1.36  0.45     1.08   2.89
1584         West Virginia  1977  0.98  0.09     0.78   1.85
1617             Wisconsin  1977  1.78  0.27     1.26   3.31
1650               Wyoming  1977  1.79  0.21     1.32   3.32
                     State  Year  Beer  Wine  Spirits  Total
1                  Alabama  1978  0.98  0.12     0.88   1.98
34                  Alaska  1978  1.39  0.45     1.68   3.52
67                 Arizona  1978  1.77  0.37     1.10   3.24
100               Arkansas  1978  0.97  0.11     0.73   1.81
133             California  1978  1.36  0.68     1.32   3.36
166               Colorado  1978  1.64  0.47     1.43   3.54
199            Connecticut  1978  1.07  0.38     1.20   2.65
232               Delaware  1978  1.33  0.25     1.33   2.91
265   District of Columbia  1978  1.43  0.94     3.14   5.51
298                Florida  1978  1.41  0.34     1.48   3.23
331                Georgia  1978  1.14  0.19     1.26   2.59
364                 Hawaii  1978  1.38  0.46     1.30   3.14
397                  Idaho  1978  1.50  0.26     0.80   2.56
430               Illinois  1978  1.38  0.31     1.19   2.88
463                Indiana  1978  1.19  0.16     0.79   2.14
496                   Iowa  1978  1.38  0.11     0.74   2.23
529                 Kansas  1978  1.14  0.12     0.64   1.90
562               Kentucky  1978  1.07  0.09     0.77   1.93
595              Louisiana  1978  1.35  0.25     1.07   2.67
628                  Maine  1978  1.31  0.27     1.05   2.63
661               Maryland  1978  1.41  0.31     1.38   3.10
694          Massachusetts  1978  1.37  0.40     1.25   3.02
727               Michigan  1978  1.43  0.25     1.05   2.73
760              Minnesota  1978  1.31  0.23     1.15   2.69
793            Mississippi  1978  1.16  0.10     0.91   2.17
826               Missouri  1978  1.31  0.20     0.89   2.40
859                Montana  1978  1.82  0.20     1.07   3.09
892               Nebraska  1978  1.47  0.18     0.89   2.54
925                 Nevada  1978  2.20  0.85     3.65   6.70
958          New Hampshire  1978  1.99  0.54     2.94   5.47
991             New Jersey  1978  1.17  0.42     1.10   2.69
1024            New Mexico  1978  1.68  0.32     0.98   2.98
1057              New York  1978  1.18  0.42     1.17   2.77
1090        North Carolina  1978  1.06  0.20     0.86   2.12
1123          North Dakota  1978  1.45  0.16     1.15   2.76
1156                  Ohio  1978  1.19  0.20     0.70   2.09
1189              Oklahoma  1978  1.08  0.14     0.82   2.04
1222                Oregon  1978  1.34  0.47     0.98   2.79
1255          Pennsylvania  1978  1.36  0.21     0.74   2.31
1288          Rhode Island  1978  1.41  0.50     1.16   3.07
1321        South Carolina  1978  1.20  0.17     1.21   2.58
1354          South Dakota  1978  1.19  0.17     1.05   2.41
1387             Tennessee  1978  1.16  0.11     0.72   1.99
1420                 Texas  1978  1.70  0.14     0.84   2.68
1453                  Utah  1978  0.96  0.15     0.61   1.72
1486               Vermont  1978  1.53  0.47     1.59   3.59
1519              Virginia  1978  1.22  0.21     0.90   2.33
1552            Washington  1978  1.39  0.48     1.09   2.96
1585         West Virginia  1978  0.96  0.09     0.79   1.84
1618             Wisconsin  1978  1.80  0.28     1.18   3.26
1651               Wyoming  1978  1.82  0.22     1.36   3.40
                     State  Year  Beer  Wine  Spirits  Total
2                  Alabama  1979  0.98  0.12     0.84   1.94
35                  Alaska  1979  1.50  0.47     1.65   3.62
68                 Arizona  1979  1.86  0.39     1.17   3.42
101               Arkansas  1979  0.93  0.10     0.57   1.60
134             California  1979  1.42  0.70     1.28   3.40
167               Colorado  1979  1.68  0.47     1.37   3.52
200            Connecticut  1979  1.13  0.40     1.20   2.73
233               Delaware  1979  1.38  0.27     1.34   2.99
266   District of Columbia  1979  1.48  0.99     3.03   5.50
299                Florida  1979  1.47  0.37     1.51   3.35
332                Georgia  1979  1.17  0.19     1.22   2.58
365                 Hawaii  1979  1.60  0.44     1.28   3.32
398                  Idaho  1979  1.55  0.27     0.84   2.66
431               Illinois  1979  1.45  0.33     1.17   2.95
464                Indiana  1979  1.23  0.15     0.79   2.17
497                   Iowa  1979  1.40  0.11     0.71   2.22
530                 Kansas  1979  1.17  0.11     0.73   2.01
563               Kentucky  1979  1.10  0.09     0.77   1.96
596              Louisiana  1979  1.36  0.26     1.08   2.70
629                  Maine  1979  1.30  0.27     1.08   2.65
662               Maryland  1979  1.43  0.31     1.39   3.13
695          Massachusetts  1979  1.39  0.42     1.23   3.04
728               Michigan  1979  1.37  0.25     1.03   2.65
761              Minnesota  1979  1.35  0.24     1.16   2.75
794            Mississippi  1979  1.15  0.10     0.84   2.09
827               Missouri  1979  1.37  0.20     0.86   2.43
860                Montana  1979  1.83  0.41     1.05   3.29
893               Nebraska  1979  1.50  0.18     0.88   2.56
926                 Nevada  1979  2.28  0.88     3.28   6.44
959          New Hampshire  1979  1.98  0.62     2.61   5.21
992             New Jersey  1979  1.18  0.43     1.10   2.71
1025            New Mexico  1979  1.71  0.30     1.01   3.02
1058              New York  1979  1.21  0.44     1.17   2.82
1091        North Carolina  1979  1.08  0.22     0.88   2.18
1124          North Dakota  1979  1.45  0.16     1.10   2.71
1157                  Ohio  1979  1.36  0.20     0.71   2.27
1190              Oklahoma  1979  1.05  0.13     0.80   1.98
1223                Oregon  1979  1.39  0.47     0.96   2.82
1256          Pennsylvania  1979  1.42  0.22     0.73   2.37
1289          Rhode Island  1979  1.46  0.50     1.11   3.07
1322        South Carolina  1979  1.25  0.17     1.18   2.60
1355          South Dakota  1979  1.23  0.17     1.04   2.44
1388             Tennessee  1979  1.14  0.11     0.73   1.98
1421                 Texas  1979  1.76  0.14     0.87   2.77
1454                  Utah  1979  0.97  0.16     0.62   1.75
1487               Vermont  1979  1.57  0.47     1.50   3.54
1520              Virginia  1979  1.23  0.25     0.92   2.40
1553            Washington  1979  1.41  0.48     1.10   2.99
1586         West Virginia  1979  0.97  0.09     0.77   1.83
1619             Wisconsin  1979  1.88  0.28     1.17   3.33
1652               Wyoming  1979  1.86  0.22     1.30   3.38
                     State  Year  Beer  Wine  Spirits  Total
3                  Alabama  1980  0.96  0.16     0.74   1.86
36                  Alaska  1980  1.55  0.50     1.70   3.75
69                 Arizona  1980  1.69  0.36     0.98   3.03
102               Arkansas  1980  1.00  0.12     0.69   1.81
135             California  1980  1.42  0.71     1.25   3.38
168               Colorado  1980  1.57  0.47     1.31   3.35
201            Connecticut  1980  1.06  0.43     1.21   2.70
234               Delaware  1980  1.45  0.29     1.38   3.12
267   District of Columbia  1980  1.49  0.99     2.94   5.42
300                Florida  1980  1.42  0.37     1.43   3.22
333                Georgia  1980  1.07  0.19     1.09   2.35
366                 Hawaii  1980  1.65  0.46     1.21   3.32
399                  Idaho  1980  1.53  0.30     0.77   2.60
432               Illinois  1980  1.43  0.33     1.24   3.00
465                Indiana  1980  1.26  0.17     0.77   2.20
498                   Iowa  1980  1.41  0.13     0.71   2.25
531                 Kansas  1980  1.23  0.11     0.62   1.96
564               Kentucky  1980  1.08  0.10     0.74   1.92
597              Louisiana  1980  1.41  0.27     1.04   2.72
630                  Maine  1980  1.32  0.29     1.06   2.67
663               Maryland  1980  1.42  0.33     1.35   3.10
696          Massachusetts  1980  1.47  0.45     1.27   3.19
729               Michigan  1980  1.34  0.28     1.03   2.65
762              Minnesota  1980  1.40  0.26     1.20   2.86
795            Mississippi  1980  1.13  0.10     0.86   2.09
828               Missouri  1980  1.39  0.20     0.84   2.43
861                Montana  1980  1.82  0.35     1.04   3.21
894               Nebraska  1980  1.56  0.19     0.89   2.64
927                 Nevada  1980  2.09  0.79     2.94   5.82
960          New Hampshire  1980  2.21  0.69     2.86   5.76
993             New Jersey  1980  1.23  0.47     1.13   2.83
1026            New Mexico  1980  1.66  0.32     1.00   2.98
1059              New York  1980  1.28  0.46     1.18   2.92
1092        North Carolina  1980  1.11  0.20     0.86   2.17
1125          North Dakota  1980  1.53  0.17     1.14   2.84
1158                  Ohio  1980  1.39  0.22     0.72   2.33
1191              Oklahoma  1980  1.08  0.16     0.71   1.95
1224                Oregon  1980  1.37  0.51     0.94   2.82
1257          Pennsylvania  1980  1.45  0.22     0.71   2.38
1290          Rhode Island  1980  1.46  0.53     1.14   3.13
1323        South Carolina  1980  1.22  0.18     1.06   2.46
1356          South Dakota  1980  1.30  0.18     1.07   2.55
1389             Tennessee  1980  1.10  0.12     0.69   1.91
1422                 Texas  1980  1.77  0.22     0.81   2.80
1455                  Utah  1980  0.96  0.14     0.60   1.70
1488               Vermont  1980  1.43  0.48     1.39   3.30
1521              Virginia  1980  1.23  0.25     0.91   2.39
1554            Washington  1980  1.52  0.52     1.08   3.12
1587         West Virginia  1980  1.00  0.09     0.72   1.81
1620             Wisconsin  1980  1.96  0.31     1.20   3.47
1653               Wyoming  1980  1.85  0.24     1.32   3.41
                     State  Year  Beer  Wine  Spirits  Total
4                  Alabama  1981  1.00  0.19     0.73   1.92
37                  Alaska  1981  1.71  0.57     1.82   4.10
70                 Arizona  1981  1.78  0.42     1.01   3.21
103               Arkansas  1981  1.06  0.12     0.68   1.86
136             California  1981  1.43  0.72     1.21   3.36
169               Colorado  1981  1.63  0.44     1.26   3.33
202            Connecticut  1981  1.05  0.44     1.18   2.67
235               Delaware  1981  1.51  0.32     1.39   3.22
268   District of Columbia  1981  1.50  1.06     2.92   5.48
301                Florida  1981  1.55  0.39     1.38   3.32
334                Georgia  1981  1.10  0.18     1.09   2.37
367                 Hawaii  1981  1.74  0.44     1.16   3.34
400                  Idaho  1981  1.54  0.33     0.83   2.70
433               Illinois  1981  1.43  0.35     1.12   2.90
466                Indiana  1981  1.29  0.18     0.78   2.25
499                   Iowa  1981  1.44  0.13     0.69   2.26
532                 Kansas  1981  1.23  0.12     0.70   2.05
565               Kentucky  1981  1.13  0.11     0.75   1.99
598              Louisiana  1981  1.48  0.27     1.02   2.77
631                  Maine  1981  1.24  0.28     1.05   2.57
664               Maryland  1981  1.39  0.34     1.33   3.06
697          Massachusetts  1981  1.44  0.49     1.24   3.17
730               Michigan  1981  1.34  0.29     1.00   2.63
763              Minnesota  1981  1.39  0.27     1.18   2.84
796            Mississippi  1981  1.19  0.11     0.84   2.14
829               Missouri  1981  1.40  0.21     0.83   2.44
862                Montana  1981  1.90  0.33     1.05   3.28
895               Nebraska  1981  1.57  0.20     0.88   2.65
928                 Nevada  1981  2.08  0.80     2.71   5.59
961          New Hampshire  1981  1.89  0.59     2.44   4.92
994             New Jersey  1981  1.22  0.51     1.15   2.88
1027            New Mexico  1981  1.74  0.32     0.95   3.01
1060              New York  1981  1.25  0.46     1.12   2.83
1093        North Carolina  1981  1.10  0.21     0.86   2.17
1126          North Dakota  1981  1.53  0.18     1.14   2.85
1159                  Ohio  1981  1.35  0.22     0.68   2.25
1192              Oklahoma  1981  1.14  0.16     0.83   2.13
1225                Oregon  1981  1.38  0.50     0.92   2.80
1258          Pennsylvania  1981  1.42  0.23     0.72   2.37
1291          Rhode Island  1981  1.36  0.52     1.04   2.92
1324        South Carolina  1981  1.25  0.19     1.05   2.49
1357          South Dakota  1981  1.32  0.19     1.05   2.56
1390             Tennessee  1981  1.14  0.13     0.72   1.99
1423                 Texas  1981  1.84  0.24     0.85   2.93
1456                  Utah  1981  1.01  0.15     0.58   1.74
1489               Vermont  1981  1.49  0.50     1.33   3.32
1522              Virginia  1981  1.23  0.27     0.89   2.39
1555            Washington  1981  1.38  0.54     1.05   2.97
1588         West Virginia  1981  1.06  0.14     0.66   1.86
1621             Wisconsin  1981  1.95  0.31     1.20   3.46
1654               Wyoming  1981  1.91  0.24     1.27   3.42
                     State  Year  Beer  Wine  Spirits  Total
5                  Alabama  1982  1.00  0.18     0.72   1.90
38                  Alaska  1982  1.75  0.56     1.74   4.05
71                 Arizona  1982  1.74  0.40     0.99   3.13
104               Arkansas  1982  1.03  0.12     0.63   1.78
137             California  1982  1.37  0.72     1.14   3.23
170               Colorado  1982  1.64  0.46     1.18   3.28
203            Connecticut  1982  1.04  0.49     1.20   2.73
236               Delaware  1982  1.53  0.34     1.36   3.23
269   District of Columbia  1982  1.48  1.00     2.91   5.39
302                Florida  1982  1.56  0.40     1.33   3.29
335                Georgia  1982  1.12  0.21     1.04   2.37
368                 Hawaii  1982  1.80  0.48     1.14   3.42
401                  Idaho  1982  1.47  0.31     0.81   2.59
434               Illinois  1982  1.41  0.35     1.06   2.82
467                Indiana  1982  1.29  0.18     0.76   2.23
500                   Iowa  1982  1.39  0.13     0.65   2.17
533                 Kansas  1982  1.22  0.13     0.67   2.02
566               Kentucky  1982  1.14  0.12     0.73   1.99
599              Louisiana  1982  1.49  0.30     1.00   2.79
632                  Maine  1982  1.30  0.30     1.02   2.62
665               Maryland  1982  1.27  0.32     1.17   2.76
698          Massachusetts  1982  1.35  0.49     1.22   3.06
731               Michigan  1982  1.35  0.39     0.98   2.72
764              Minnesota  1982  1.36  0.27     1.11   2.74
797            Mississippi  1982  1.19  0.11     0.82   2.12
830               Missouri  1982  1.38  0.21     0.79   2.38
863                Montana  1982  1.82  0.32     1.02   3.16
896               Nebraska  1982  1.50  0.28     0.58   2.36
929                 Nevada  1982  1.99  0.77     2.50   5.26
962          New Hampshire  1982  1.89  0.58     2.34   4.81
995             New Jersey  1982  1.22  0.52     1.13   2.87
1028            New Mexico  1982  1.72  0.34     0.94   3.00
1061              New York  1982  1.26  0.48     1.10   2.84
1094        North Carolina  1982  1.07  0.21     0.85   2.13
1127          North Dakota  1982  1.52  0.18     1.09   2.79
1160                  Ohio  1982  1.40  0.22     0.66   2.28
1193              Oklahoma  1982  1.17  0.16     0.83   2.16
1226                Oregon  1982  1.33  0.53     0.88   2.74
1259          Pennsylvania  1982  1.44  0.23     0.70   2.37
1292          Rhode Island  1982  1.34  0.55     1.04   2.93
1325        South Carolina  1982  1.24  0.20     1.00   2.44
1358          South Dakota  1982  1.29  0.18     0.98   2.45
1391             Tennessee  1982  1.13  0.14     0.70   1.97
1424                 Texas  1982  1.83  0.18     0.84   2.85
1457                  Utah  1982  1.01  0.15     0.55   1.71
1490               Vermont  1982  1.49  0.50     1.25   3.24
1523              Virginia  1982  1.45  0.27     0.86   2.58
1556            Washington  1982  1.33  0.53     0.99   2.85
1589         West Virginia  1982  1.11  0.14     0.55   1.80
1622             Wisconsin  1982  1.93  0.30     1.04   3.27
1655               Wyoming  1982  1.80  0.24     1.21   3.25
                     State  Year  Beer  Wine  Spirits  Total
6                  Alabama  1983  1.01  0.17     0.71   1.89
39                  Alaska  1983  1.76  0.61     1.70   4.07
72                 Arizona  1983  1.62  0.44     1.00   3.06
105               Arkansas  1983  1.03  0.13     0.63   1.79
138             California  1983  1.37  0.75     1.11   3.23
171               Colorado  1983  1.57  0.46     1.12   3.15
204            Connecticut  1983  1.10  0.49     1.23   2.82
237               Delaware  1983  1.53  0.35     1.34   3.22
270   District of Columbia  1983  1.55  1.08     2.79   5.42
303                Florida  1983  1.56  0.40     1.23   3.19
336                Georgia  1983  1.14  0.22     1.05   2.41
369                 Hawaii  1983  1.87  0.44     1.12   3.43
402                  Idaho  1983  1.44  0.30     0.76   2.50
435               Illinois  1983  1.42  0.35     1.03   2.80