In [3]:
#데이터 프레임: 레이블이 붙은 행과 열로 구성된 테이블
#미국 각 주별로 주류 소비.csv 파일
import pandas as pd
alco2009 = pd.read_csv("niaaa-report2009.csv", index_col="State")
alco2009

#상위 5개 출력
alco2009.head()

#Wine, Beer 이란 이름으로 해당 데이터프레임에 속성으로 생성.
alco2009["Wine"].head()

alco2009.Beer.tail()


# 브로드캐스팅. 해당 열을 만들고 모든 행의 값 할당.
alco2009["Total"]=0
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58      0
Alaska                1.31  0.54     1.16      0
Arizona               1.19  0.38     0.74      0
Arkansas              1.07  0.17     0.60      0
California            1.05  0.55     0.73      0
Colorado              1.22  0.46     1.00      0
Connecticut           0.89  0.59     0.86      0
Delaware              1.31  0.57     1.25      0
District of Columbia  1.26  1.00     1.64      0
Florida               1.21  0.48     0.92      0
Georgia               1.08  0.25     0.64      0
Hawaii                1.30  0.53     0.75      0
Idaho                 1.05  0.92     0.70      0
Illinois              1.22  0.39     0.73      0
Indiana               1.09  0.25     0.73      0
Iowa                  1.42  0.18     0.72      0
Kansas                1.18  0.14     0.67      0
Kentucky              1.11  0.18     0.65      0
Louisiana             1.50  0.28     0.85      0
Maine                 1.24  0.42     0.83      0
Maryland              0.97  0.37     0.87      0
Massachusetts         1.02  0.61     0.84      0
Michigan              1.10  0.31     0.80      0
Minnesota             1.19  0.37     1.04      0
Mississippi           1.41  0.11     0.71      0
Missouri              1.30  0.30     0.83      0
Montana               1.66  0.45     0.88      0
Nebraska              1.46  0.20     0.68      0
Nevada                1.57  0.58     1.15      0
New Hampshire         1.72  0.84     1.82      0
New Jersey            0.92  0.57     0.87      0
New Mexico            1.37  0.32     0.74      0
New York              0.91  0.46     0.69      0
North Carolina        1.10  0.34     0.58      0
North Dakota          1.63  0.25     1.16      0
Ohio                  1.28  0.26     0.47      0
Oklahoma              1.18  0.18     0.58      0
Oregon                1.28  0.49     0.82      0
Pennsylvania          1.35  0.23     0.61      0
Rhode Island          1.10  0.53     0.92      0
South Carolina        1.36  0.24     0.77      0
South Dakota          1.53  0.22     0.88      0
Tennessee             1.05  0.21     0.57      0
Texas                 1.42  0.28     0.58      0
Utah                  0.70  0.17     0.46      0
Vermont               1.36  0.63     0.70      0
Virginia              1.11  0.43     0.59      0
Washington            1.09  0.51     0.74      0
West Virginia         1.24  0.10     0.45      0
Wisconsin             1.49  0.31     1.16      0
Wyoming               1.45  0.22     1.10      0

In [4]:
#csv 파일에 총합 열 만들어보기.

hap=alco2009["Beer"] + alco2009["Wine"] + alco2009["Spirits"]
alco2009["Total"]=hap
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58   2.00
Alaska                1.31  0.54     1.16   3.01
Arizona               1.19  0.38     0.74   2.31
Arkansas              1.07  0.17     0.60   1.84
California            1.05  0.55     0.73   2.33
Colorado              1.22  0.46     1.00   2.68
Connecticut           0.89  0.59     0.86   2.34
Delaware              1.31  0.57     1.25   3.13
District of Columbia  1.26  1.00     1.64   3.90
Florida               1.21  0.48     0.92   2.61
Georgia               1.08  0.25     0.64   1.97
Hawaii                1.30  0.53     0.75   2.58
Idaho                 1.05  0.92     0.70   2.67
Illinois              1.22  0.39     0.73   2.34
Indiana               1.09  0.25     0.73   2.07
Iowa                  1.42  0.18     0.72   2.32
Kansas                1.18  0.14     0.67   1.99
Kentucky              1.11  0.18     0.65   1.94
Louisiana             1.50  0.28     0.85   2.63
Maine                 1.24  0.42     0.83   2.49
Maryland              0.97  0.37     0.87   2.21
Massachusetts         1.02  0.61     0.84   2.47
Michigan              1.10  0.31     0.80   2.21
Minnesota             1.19  0.37     1.04   2.60
Mississippi           1.41  0.11     0.71   2.23
Missouri              1.30  0.30     0.83   2.43
Montana               1.66  0.45     0.88   2.99
Nebraska              1.46  0.20     0.68   2.34
Nevada                1.57  0.58     1.15   3.30
New Hampshire         1.72  0.84     1.82   4.38
New Jersey            0.92  0.57     0.87   2.36
New Mexico            1.37  0.32     0.74   2.43
New York              0.91  0.46     0.69   2.06
North Carolina        1.10  0.34     0.58   2.02
North Dakota          1.63  0.25     1.16   3.04
Ohio                  1.28  0.26     0.47   2.01
Oklahoma              1.18  0.18     0.58   1.94
Oregon                1.28  0.49     0.82   2.59
Pennsylvania          1.35  0.23     0.61   2.19
Rhode Island          1.10  0.53     0.92   2.55
South Carolina        1.36  0.24     0.77   2.37
South Dakota          1.53  0.22     0.88   2.63
Tennessee             1.05  0.21     0.57   1.83
Texas                 1.42  0.28     0.58   2.28
Utah                  0.70  0.17     0.46   1.33
Vermont               1.36  0.63     0.70   2.69
Virginia              1.11  0.43     0.59   2.13
Washington            1.09  0.51     0.74   2.34
West Virginia         1.24  0.10     0.45   1.79
Wisconsin             1.49  0.31     1.16   2.96
Wyoming               1.45  0.22     1.10   2.77

In [5]:
alco2009.columns.values

#비어 '열' 컬럼으로 인덱스를 지정
alco2009.reset_index().set_index("Beer").head()
#원하는 '행' 다가져오기. 모든 열
alco2009.loc["Alabama"]

"Utah" in alco2009.index

True

In [6]:
alco20091=pd.read_csv("niaaa-report2009.csv" , index_col="State")
#열이 존재하는지 ?
"Samoa" in alco20091.index

False

In [7]:
#임의의 열을 추가해보자
s_states= [state for state in alco20091.index if state[0] == 'S']+["Samoa"]
drinks= list(alco20091.columns) + ["Water"]
nan_alco= alco20091.reindex(s_states, columns=drinks)
nan_alco

                Beer  Wine  Spirits  Water
State
South Carolina  1.36  0.24     0.77    NaN
South Dakota    1.53  0.22     0.88    NaN
Samoa            NaN   NaN      NaN    NaN

In [8]:
#여러 인덱스를 가진 멀티인덱스들을 처리해보기 (예 도시별 -> 연별 자료)
allalco =pd.read_csv("niaaa-report.csv",index_col=["State","Year"])
allalco

allalco.loc["Alabama"].head()

      Beer  Wine  Spirits
Year
1977  0.99  0.13     0.84
1978  0.98  0.12     0.88
1979  0.98  0.12     0.84
1980  0.96  0.16     0.74
1981  1.00  0.19     0.73

In [9]:
#연별로 묶어서 열을 행으로 표현해보자
tall_alco=allalco.stack()
tall_alco.index.names=[ "State","Year","Drink"]
tall_alco.head(10)

State    Year  Drink
Alabama  1977  Beer       0.99
               Wine       0.13
               Spirits    0.84
         1978  Beer       0.98
               Wine       0.12
               Spirits    0.88
         1979  Beer       0.98
               Wine       0.12
               Spirits    0.84
         1980  Beer       0.96
dtype: float64

In [10]:
#정사각형 모양에 가깝게 만들어보기
wide_alco=allalco.unstack()
wide_alco.head()

            Beer                                                        ...  \
Year        1977  1978  1979  1980  1981  1982  1983  1984  1985  1986  ...
State                                                                   ...
Alabama     0.99  0.98  0.98  0.96  1.00  1.00  1.01  1.02  1.06  1.09  ...
Alaska      1.19  1.39  1.50  1.55  1.71  1.75  1.76  1.73  1.68  1.68  ...
Arizona     1.70  1.77  1.86  1.69  1.78  1.74  1.62  1.57  1.67  1.77  ...
Arkansas    0.92  0.97  0.93  1.00  1.06  1.03  1.03  1.02  1.03  1.06  ...
California  1.31  1.36  1.42  1.42  1.43  1.37  1.37  1.38  1.32  1.36  ...

           Spirits
Year          2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
State
Alabama       0.51  0.53  0.53  0.52  0.52  0.53  0.55  0.56  0.58  0.58
Alaska        0.92  0.97  1.08  0.79  0.96  0.99  1.02  1.07  1.09  1.16
Arizona       0.71  0.70  0.69  0.71  0.70  0.74  0.78  0.76  0.75  0.74
Arkansas      0.53  0.53  0.53  0.56  0.58  0.58  0.59  0.60  0.60  0.60
California    0.64  0.64  0.63  0.65  0.67  0.68  0.70  0.72  0.72  0.73

[5 rows x 99 columns]

In [11]:
#피보팅. 자주 쓰이는 일반화된 연산.
#pivot(index,columns,values) 인덱스를 year로 잡고 주별, 와인정보만 출ㄺ
alco = pd.read_csv("niaaa-report.csv")
alco.pivot("Year","State","Wine")

State,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1977,0.13,0.42,0.34,0.10,0.67,0.36,0.35,0.24,0.89,0.33,...,0.17,0.10,0.14,0.14,0.44,0.21,0.45,0.09,0.27,0.21
1978,0.12,0.45,0.37,0.11,0.68,0.47,0.38,0.25,0.94,0.34,...,0.17,0.11,0.14,0.15,0.47,0.21,0.48,0.09,0.28,0.22
1979,0.12,0.47,0.39,0.10,0.70,0.47,0.40,0.27,0.99,0.37,...,0.17,0.11,0.14,0.16,0.47,0.25,0.48,0.09,0.28,0.22
1980,0.16,0.50,0.36,0.12,0.71,0.47,0.43,0.29,0.99,0.37,...,0.18,0.12,0.22,0.14,0.48,0.25,0.52,0.09,0.31,0.24
1981,0.19,0.57,0.42,0.12,0.72,0.44,0.44,0.32,1.06,0.39,...,0.19,0.13,0.24,0.15,0.50,0.27,0.54,0.14,0.31,0.24
1982,0.18,0.56,0.40,0.12,0.72,0.46,0.49,0.34,1.00,0.40,...,0.18,0.14,0.18,0.15,0.50,0.27,0.53,0.14,0.30,0.24
1983,0.17,0.61,0.44,0.13,0.75,0.46,0.49,0.35,1.08,0.40,...,0.17,0.14,0.27,0.14,0.50,0.27,0.54,0.13,0.33,0.22
1984,0.19,0.58,0.45,0.12,0.74,0.46,0.50,0.38,1.11,0.40,...,0.17,0.15,0.28,0.14,0.49,0.29,0.57,0.12,0.30,0.22
1985,0.17,0.58,0.46,0.13,0.78,0.50,0.50,0.41,1.03,0.41,...,0.18,0.16,0.30,0.15,0.55,0.30,0.59,0.13,0.32,0.25
1986,0.18,0.56,0.46,0.09,0.79,0.46,0.51,0.44,1.04,0.41,...,0.19,0.16,0.31,0.17,0.59,0.27,0.61,0.13,0.34,0.26
1987,0.18,0.54,0.46,0.11,0.74,0.44,0.52,0.42,1.00,0.42,...,0.19,0.15,0.29,0.15,0.58,0.26,0.56,0.13,0.36,0.24
1988,0.18,0.49,0.42,0.14,0.68,0.39,0.51,0.40,0.99,0.41,...,0.16,0.14,0.28,0.14,0.56,0.25,0.50,0.12,0.33,0.23
1989,0.17,0.46,0.36,0.13,0.61,0.37,0.47,0.38,0.88,0.39,...,0.15,0.14,0.26,0.13,0.51,0.31,0.47,0.11,0.31,0.22
1990,0.18,0.46,0.37,0.13,0.59,0.29,0.45,0.37,0.76,0.39,...,0.18,0.14,0.26,0.12,0.48,0.30,0.46,0.10,0.31,0.22
1991,0.17,0.43,0.35,0.11,0.49,0.35,0.43,0.35,0.61,0.34,...,0.15,0.13,0.25,0.12,0.46,0.28,0.43,0.09,0.27,0.20
1992,0.19,0.41,0.31,0.12,0.51,0.36,0.45,0.36,0.70,0.34,...,0.15,0.14,0.24,0.12,0.44,0.28,0.46,0.09,0.25,0.20
1993,0.17,0.32,0.27,0.11,0.48,0.36,0.44,0.35,0.73,0.33,...,0.12,0.14,0.20,0.11,0.44,0.27,0.39,0.08,0.22,0.19
1994,0.17,0.40,0.29,0.13,0.47,0.35,0.43,0.38,0.74,0.33,...,0.12,0.15,0.20,0.09,0.42,0.27,0.39,0.08,0.22,0.18
1995,0.15,0.39,0.29,0.12,0.45,0.35,0.49,0.40,0.72,0.35,...,0.12,0.15,0.19,0.09,0.41,0.29,0.40,0.09,0.23,0.16
1996,0.15,0.38,0.33,0.12,0.49,0.37,0.46,0.45,0.74,0.37,...,0.13,0.15,0.22,0.10,0.46,0.30,0.40,0.10,0.24,0.16
1997,0.15,0.36,0.31,0.12,0.50,0.37,0.48,0.46,0.74,0.37,...,0.13,0.16,0.20,0.10,0.46,0.29,0.42,0.10,0.25,0.17
1998,0.17,0.39,0.32,0.11,0.45,0.37,0.48,0.47,0.73,0.38,...,0.13,0.15,0.23,0.10,0.47,0.29,0.43,0.10,0.26,0.20
1999,0.17,0.40,0.34,0.12,0.46,0.37,0.49,0.48,0.73,0.40,...,0.14,0.15,0.20,0.10,0.47,0.32,0.40,0.10,0.26,0.18
2000,0.18,0.37,0.31,0.12,0.48,0.37,0.49,0.48,0.70,0.40,...,0.15,0.15,0.22,0.11,0.47,0.31,0.41,0.10,0.27,0.18
2001,0.17,0.40,0.33,0.13,0.48,0.41,0.50,0.49,0.82,0.40,...,0.15,0.16,0.21,0.14,0.47,0.32,0.40,0.10,0.26,0.22
2002,0.21,0.43,0.33,0.14,0.49,0.39,0.50,0.52,0.84,0.43,...,0.16,0.17,0.22,0.14,0.49,0.34,0.42,0.10,0.28,0.22
2003,0.19,0.37,0.37,0.14,0.50,0.40,0.52,0.56,0.90,0.44,...,0.16,0.18,0.23,0.15,0.51,0.36,0.46,0.10,0.29,0.23
2004,0.20,0.45,0.33,0.15,0.51,0.43,0.53,0.57,0.94,0.46,...,0.18,0.18,0.24,0.15,0.54,0.37,0.46,0.10,0.30,0.22
2005,0.20,0.43,0.39,0.16,0.53,0.41,0.54,0.59,0.92,0.47,...,0.19,0.19,0.25,0.16,0.56,0.38,0.55,0.10,0.31,0.23
2006,0.21,0.46,0.37,0.17,0.54,0.45,0.55,0.60,0.95,0.48,...,0.19,0.19,0.26,0.16,0.58,0.39,0.48,0.10,0.32,0.23
2007,0.22,0.44,0.33,0.17,0.55,0.47,0.58,0.59,0.99,0.49,...,0.22,0.20,0.27,0.16,0.61,0.41,0.50,0.10,0.33,0.23
2008,0.22,0.49,0.40,0.17,0.55,0.46,0.59,0.58,1.00,0.49,...,0.22,0.20,0.27,0.17,0.62,0.42,0.50,0.10,0.34,0.23
2009,0.22,0.54,0.38,0.17,0.55,0.46,0.59,0.57,1.00,0.48,...,0.22,0.21,0.28,0.17,0.63,0.43,0.51,0.10,0.31,0.22