In [1]:
#데이터 프레임: 레이블이 붙은 행과 열로 구성된 테이블
#미국 각 주별로 주류 소비.csv 파일
import pandas as pd
alco2009 = pd.read_csv("niaaa-report2009.csv", index_col="State")
alco2009

#상위 5개 출력
alco2009.head()

#Wine, Beer 이란 이름으로 해당 데이터프레임에 속성으로 생성.
alco2009["Wine"].head()

alco2009.Beer.tail()


# 브로드캐스팅. 해당 열을 만들고 모든 행의 값 할당.
alco2009["Total"]=0
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58      0
Alaska                1.31  0.54     1.16      0
Arizona               1.19  0.38     0.74      0
Arkansas              1.07  0.17     0.60      0
California            1.05  0.55     0.73      0
Colorado              1.22  0.46     1.00      0
Connecticut           0.89  0.59     0.86      0
Delaware              1.31  0.57     1.25      0
District of Columbia  1.26  1.00     1.64      0
Florida               1.21  0.48     0.92      0
Georgia               1.08  0.25     0.64      0
Hawaii                1.30  0.53     0.75      0
Idaho                 1.05  0.92     0.70      0
Illinois              1.22  0.39     0.73      0
Indiana               1.09  0.25     0.73      0
Iowa                  1.42  0.18     0.72      0
Kansas                1.18  0.14     0.67      0
Kentucky              1.11  0.18     0.65      0
Louisiana             1.50  0.28     0.85      0
Maine                 1.24  0.42     0.83      0
Maryland              0.97  0.37     0.87      0
Massachusetts         1.02  0.61     0.84      0
Michigan              1.10  0.31     0.80      0
Minnesota             1.19  0.37     1.04      0
Mississippi           1.41  0.11     0.71      0
Missouri              1.30  0.30     0.83      0
Montana               1.66  0.45     0.88      0
Nebraska              1.46  0.20     0.68      0
Nevada                1.57  0.58     1.15      0
New Hampshire         1.72  0.84     1.82      0
New Jersey            0.92  0.57     0.87      0
New Mexico            1.37  0.32     0.74      0
New York              0.91  0.46     0.69      0
North Carolina        1.10  0.34     0.58      0
North Dakota          1.63  0.25     1.16      0
Ohio                  1.28  0.26     0.47      0
Oklahoma              1.18  0.18     0.58      0
Oregon                1.28  0.49     0.82      0
Pennsylvania          1.35  0.23     0.61      0
Rhode Island          1.10  0.53     0.92      0
South Carolina        1.36  0.24     0.77      0
South Dakota          1.53  0.22     0.88      0
Tennessee             1.05  0.21     0.57      0
Texas                 1.42  0.28     0.58      0
Utah                  0.70  0.17     0.46      0
Vermont               1.36  0.63     0.70      0
Virginia              1.11  0.43     0.59      0
Washington            1.09  0.51     0.74      0
West Virginia         1.24  0.10     0.45      0
Wisconsin             1.49  0.31     1.16      0
Wyoming               1.45  0.22     1.10      0

In [2]:
#csv 파일에 총합 열 만들어보기.

hap=alco2009["Beer"] + alco2009["Wine"] + alco2009["Spirits"]
alco2009["Total"]=hap
alco2009

                      Beer  Wine  Spirits  Total
State
Alabama               1.20  0.22     0.58   2.00
Alaska                1.31  0.54     1.16   3.01
Arizona               1.19  0.38     0.74   2.31
Arkansas              1.07  0.17     0.60   1.84
California            1.05  0.55     0.73   2.33
Colorado              1.22  0.46     1.00   2.68
Connecticut           0.89  0.59     0.86   2.34
Delaware              1.31  0.57     1.25   3.13
District of Columbia  1.26  1.00     1.64   3.90
Florida               1.21  0.48     0.92   2.61
Georgia               1.08  0.25     0.64   1.97
Hawaii                1.30  0.53     0.75   2.58
Idaho                 1.05  0.92     0.70   2.67
Illinois              1.22  0.39     0.73   2.34
Indiana               1.09  0.25     0.73   2.07
Iowa                  1.42  0.18     0.72   2.32
Kansas                1.18  0.14     0.67   1.99
Kentucky              1.11  0.18     0.65   1.94
Louisiana             1.50  0.28     0.85   2.63
Maine                 1.24  0.42     0.83   2.49
Maryland              0.97  0.37     0.87   2.21
Massachusetts         1.02  0.61     0.84   2.47
Michigan              1.10  0.31     0.80   2.21
Minnesota             1.19  0.37     1.04   2.60
Mississippi           1.41  0.11     0.71   2.23
Missouri              1.30  0.30     0.83   2.43
Montana               1.66  0.45     0.88   2.99
Nebraska              1.46  0.20     0.68   2.34
Nevada                1.57  0.58     1.15   3.30
New Hampshire         1.72  0.84     1.82   4.38
New Jersey            0.92  0.57     0.87   2.36
New Mexico            1.37  0.32     0.74   2.43
New York              0.91  0.46     0.69   2.06
North Carolina        1.10  0.34     0.58   2.02
North Dakota          1.63  0.25     1.16   3.04
Ohio                  1.28  0.26     0.47   2.01
Oklahoma              1.18  0.18     0.58   1.94
Oregon                1.28  0.49     0.82   2.59
Pennsylvania          1.35  0.23     0.61   2.19
Rhode Island          1.10  0.53     0.92   2.55
South Carolina        1.36  0.24     0.77   2.37
South Dakota          1.53  0.22     0.88   2.63
Tennessee             1.05  0.21     0.57   1.83
Texas                 1.42  0.28     0.58   2.28
Utah                  0.70  0.17     0.46   1.33
Vermont               1.36  0.63     0.70   2.69
Virginia              1.11  0.43     0.59   2.13
Washington            1.09  0.51     0.74   2.34
West Virginia         1.24  0.10     0.45   1.79
Wisconsin             1.49  0.31     1.16   2.96
Wyoming               1.45  0.22     1.10   2.77

In [17]:
alco2009.columns.values

#비어 '열' 컬럼으로 인덱스를 지정
alco2009.reset_index().set_index("Beer").head()
#원하는 '행' 다가져오기. 모든 열
alco2009.loc["Alabama"]

"Utah" in alco2009.index

True

In [7]:
alco20091=pd.read_csv("niaaa-report2009.csv" , index_col="State")
#열이 존재하는지 ?
"Samoa" in alco20091.index

                      Beer  Wine  Spirits
State
Alabama               1.20  0.22     0.58
Alaska                1.31  0.54     1.16
Arizona               1.19  0.38     0.74
Arkansas              1.07  0.17     0.60
California            1.05  0.55     0.73
Colorado              1.22  0.46     1.00
Connecticut           0.89  0.59     0.86
Delaware              1.31  0.57     1.25
District of Columbia  1.26  1.00     1.64
Florida               1.21  0.48     0.92
Georgia               1.08  0.25     0.64
Hawaii                1.30  0.53     0.75
Idaho                 1.05  0.92     0.70
Illinois              1.22  0.39     0.73
Indiana               1.09  0.25     0.73
Iowa                  1.42  0.18     0.72
Kansas                1.18  0.14     0.67
Kentucky              1.11  0.18     0.65
Louisiana             1.50  0.28     0.85
Maine                 1.24  0.42     0.83
Maryland              0.97  0.37     0.87
Massachusetts         1.02  0.61     0.84
Michigan              1.10  0.31     0.80
Minnesota             1.19  0.37     1.04
Mississippi           1.41  0.11     0.71
Missouri              1.30  0.30     0.83
Montana               1.66  0.45     0.88
Nebraska              1.46  0.20     0.68
Nevada                1.57  0.58     1.15
New Hampshire         1.72  0.84     1.82
New Jersey            0.92  0.57     0.87
New Mexico            1.37  0.32     0.74
New York              0.91  0.46     0.69
North Carolina        1.10  0.34     0.58
North Dakota          1.63  0.25     1.16
Ohio                  1.28  0.26     0.47
Oklahoma              1.18  0.18     0.58
Oregon                1.28  0.49     0.82
Pennsylvania          1.35  0.23     0.61
Rhode Island          1.10  0.53     0.92
South Carolina        1.36  0.24     0.77
South Dakota          1.53  0.22     0.88
Tennessee             1.05  0.21     0.57
Texas                 1.42  0.28     0.58
Utah                  0.70  0.17     0.46
Vermont               1.36  0.63     0.70
Virginia              1.11  0.43     0.59
Washington            1.09  0.51     0.74
West Virginia         1.24  0.10     0.45
Wisconsin             1.49  0.31     1.16
Wyoming               1.45  0.22     1.10

In [9]:
#임의의 열을 추가해보자
s_states= [state for state in alco20091.index if state[0] == 'S']+["Samoa"]
drinks= list(alco20091.columns) + ["Water"]
nan_alco= alco20091.reindex(s_states, columns=drinks)
nan_alco

                Beer  Wine  Spirits  Water
State
South Carolina  1.36  0.24     0.77    NaN
South Dakota    1.53  0.22     0.88    NaN
Samoa            NaN   NaN      NaN    NaN

In [15]:
#여러 인덱스를 가진 멀티인덱스들을 처리해보기 (예 도시별 -> 연별 자료)
allalco =pd.read_csv("niaaa-report.csv",index_col=["State","Year"])
allalco

allalco.loc["Alabama"].head()

      Beer  Wine  Spirits
Year
1977  0.99  0.13     0.84
1978  0.98  0.12     0.88
1979  0.98  0.12     0.84
1980  0.96  0.16     0.74
1981  1.00  0.19     0.73

In [16]:
#연별로 묶어서 열을 행으로 표현해보자
tall_alco=allalco.stack()
tall_alco.index.names=[ "State","Year","Drink"]
tall_alco.head(10)

State    Year  Drink
Alabama  1977  Beer       0.99
               Wine       0.13
               Spirits    0.84
         1978  Beer       0.98
               Wine       0.12
               Spirits    0.88
         1979  Beer       0.98
               Wine       0.12
               Spirits    0.84
         1980  Beer       0.96
dtype: float64